.tags {
  .tag-list {
    .title {
      color: #333;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid #eee;
      padding: 5px 0;
    }
    ul {
      margin-top: 10px;
      li {
        margin: 0 4px 8px 0;
      }
    }
  }
}