a {
  color: $blue;
}

a:hover {
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-weight: 700;
  font-size: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #777;
}

.breadcrumb, .jumbotron {
  background-color: #f2f2f2;
}

header {
  border-top: 5px solid $cyan;
  nav {
    &.navbar {
      //background-color: $blue;
    }
  }
  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#app {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .container {
    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

.avatar-24 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.avatar-38 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.avatar-48 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.avatar-58 {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.line {
  color: #ccc;
}

a.tags {
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 8px;
  background-color: $blue-1;

  display: block;
  color: $blue;
  text-decoration: none;
  .icon {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }
  &:hover {
    color: #fff;
    background-color: $blue;
  }
}

.author {
  .card-header {
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
  .card-body, .card-footer {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-footer {
    text-align: center;
  }
}

i.fa {
  margin-right: .25rem;
  width: 1.18em;
  text-align: center;
}

.list-group-item.active {
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .05);
  color: #000;
  font-weight: bold;
}

.card-header {
  background-color: transparent;
  border-top: 2px solid $blue;
}

.card-header, .card-footer {
  background-color: transparent;
}